html{
    background-image:url('http://benskoifarm.com/wp-content/uploads/2018/08/ideas-to-make-your-place-nice.jpg');
    background-repeat:no-repeat;
    /*width:1500px;
    height:1536px;*/
    background-position:center center;
    background-attachment:fixed;
    background-size:cover;
    background-color:bisque;
}
h2{
    color:#E6E650;
}
p,label,li,h5{
    color:white;
}
h3{
    color:rgb(56, 160, 160);
    text-align:center;
}

h1{
    background-color: bisque;
    width:90%;
    padding:10px;
    margin:50px;
    text-align:center;
}
img.drafts{
    max-width:100%;
   /* width:200px;
    height:240px;*/
}
img.modle{
    max-width:80%;
    /*height:200px;*/
}
table,tr,td{
    border:1px rgb(36, 167, 181) solid;
}
div.first{
    width:40%;
    /*padding:20px;*/
    padding:1%;
    border:5px #ccc solid;
    float: left;
    margin:5px;
}
div.second{
    width:49%;
    /*padding:30px;*/
    padding:2.3%;
    border:5px #ccc solid;
    float:right;
}
div.third{
    width:40%;
    /*padding:30px;*/
    padding:2%;
    border:5px #ccc solid;
    float:left;
    margin:5px;
}
div.fourth{
    width:49%;
    /*padding:30px;*/
    /*padding:2.17%;æ”¹*/
    padding:2%;
    border:5px #ccc solid;
    float:right;
    margin:5px;
}

@media (max-width:768px)and(min-width:569px){
    h1{
        padding:8px;
        margin:35px;
    }
    div.third{
        width:30%;
    }
    div.fourth{
        width:40%;
    }
}

@media only screen and (max-width:568px){
    h1{
        padding:5px;
        margin:20px;
    }
    div.first{
        width:95%;
    }
    div.second{
        width:90%;
    }
    div.third{
        width:90%;
    }
    div.fourth{
        width:90%;
    }

}